---
layout: default
---


<!-- Page Header -->
{% if page.background %}
<header class="masthead" style="background-image: url('img/bg-index.jpg');height:700px;">
  {% else %}
  <header class="masthead">
    {% endif %}
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">

            <h2 style="color:#F0F8FF;font-size:3rem;">{{ site.title }}</h2>
            {% if site.description %}
            <span class="subheading">{{ site.date }}</span>
            <span class="subheading">{{ site.position }}</span>

            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </header>

  


  <div class="container" style="margin-bottom:40px">
    <div class="newsTitle" style="margin-top:80px">
    </div>
    <div class="row" style="margin:0 20px 0 20px">
      <div class="news">
        <h2>BEST PAPER AWARD</h2>
        <ul>
          <li><strong>DIMPLES: Distributed Influence Maximization for Pandemic pLanning on Exascale Systems </strong></li>
            <small> Marco Minutoli:Pacific Northwest National Laboratory;Reece Neff:North Carolina State University;Naw Safrin Sattar:Oak Ridge National Laboratory;Hao Lu:Oak Ridge National Laboratory;John Feo:Pacific Northwest National Laboratory;Henning Mortveit:University of Virginia;Anil Vullikanti:University of Virginia;Dawen Xie:University of Virginia;Mandy L Wilson:University of Virginia;Gregor von Laszewski:University of Virginia;Parantapa Bhattacharya:University of Virginia;S M Ferdous:Pacific Northwest National Laboratory;Ananth Kalyanaraman:Washington State University;Michela Becchi:North Carolina State University;Madhav Marathe:University of Virginia;Mahantesh Halappanavar:Pacific Northwest National Laboratory</small>
        <div align="center">
          <img src="https://hpcrl.github.io/ICS2025-webpage/img/ICS25_BestPaper.jpg" alt="Best Paper Award" style="max-width: 100%; height: auto;">
        </div>
      </div>
      <div class="news">
        <h2>BEST PAPER AWARD RUNNER-UPs</h2>
        <ul>
          <li><strong>BMQSim: Overcoming Memory Constraints in Quantum Circuit Simulation with a High-Fidelity Compression Framework</strong></li>
            <small> Zhang:Indiana University;Bo Fang:Pacific Northwest National Laboratory;Fanjiang Ye:Indiana University;Luanzheng Guo:Pacific Northwest National Laboratory;Fengguang Song:Indiana University;Nathan Tallent:Pacific Northwest National Laboratory;Dingwen Tao:Indiana University</small>
          <li><strong>Light-FP: Analyze Floating-Point Error in a Highly Condensed Approach</strong></li>
            <small> Jiazhi Mi:Institute of Computing Technology, Chinese Academy of Sciences,University of Chinese Academy of Sciences;Li Chen:Institute of Computing Technology, Chinese Academy of Sciences,Laboratory for Advanced Computing and Intelligence Engineering;Haoyu Wang:Institute of Computing Technology, Chinese Academy of Sciences,University of Chinese Academy of Sciences;Ruixiang Gao:Shandong University of Science and Technology;Hongze Zhang:Shandong University of Science and Technology;Ronghong Shen:Institute of Computing Technology, Chinese Academy of Sciences,University of Chinese Academy of Sciences;Kai Lin:Beijing Institute of Technology;You Fu:Shandong University of Science and Technology;Huimin Cui:Institute of Computing Technology, Chinese Academy of Sciences,University of Chinese Academy of Sciences</small>
        </ul>
      </div>
    </div>

  </div>


  <div class="container mb-5">
    <div class="newsTitle mt-5">
      <!-- <h2>Last Updates </h2> -->
    </div>
    <div class="row justify-content-center">
      <div class="col-lg-10 col-md-12">
        <div class="news">
          <h3 class="mb-4">Welcome to ICS 2025 at the University of Utah. Some useful information is provided below.</h3>

          <h4>🛜 Wireless Internet Access</h4>
          <ul>
            <li><strong>Eduroam</strong>: Available for members of participating institutions. Connect using institutional credentials.</li>
            <li><strong>UGuest</strong>: A public Wi-Fi option. No password required; open your browser and accept the terms of service using your phone number.</li>
          </ul>

          <h4>🚌 Venue Map and Transportation</h4>
          <ul>
            <li>All attendees can pick up a <strong>free 4-day UTA pass</strong> with their registration badge, valid from <strong>Sunday, June 8 to Wednesday, June 11</strong>.</li>
            <li>The UTA pass enables free travel on all UTA buses and TRAX (light rail) in Salt Lake City.</li>
            <li>TRAX is convenient for travel between the airport, downtown, and the University of Utah campus.</li>
          </ul>

          <h4>🗺️ Campus Map</h4>
            <li>Key Locations:
              <ul>
                <li><strong>WEB (Warnock Engineering Building)</strong>: ICS'25 Workshops (June 8)</li>
                <li><strong>Alumni House (AH)</strong>: Main ICS'25 Conference (June 9–11)</li>
                <li><strong>University Guest House</strong></li>
                <li><strong>Parking, TRAX, and bus info</strong>: <a href="https://commuterservices.utah.edu/visitor-short-term-parking/">https://commuterservices.utah.edu/visitor-short-term-parking/</a></li>
              </ul>
            </li>
          <ul>
            <div align="center">
              <img src="https://hpcrl.github.io/ICS2025-webpage/img/minmap.png" alt="Campus Map" style="max-width: 100%; height: auto;">
            </div>
            <li>Interactive map: <a href="https://www.map.utah.edu/">https://www.map.utah.edu/</a></li>
          </ul>
          <h4>🗺️ Downtown Pickup Location for Tuesday's <a href="https://hpcrl.github.io/ICS2025-webpage/red_butte.html" target="_blank">Red Butte Excursion</a> (Shuttles will run in a loop between 5pm–6pm, roughly every 15–20 minutes)</h4>
          <div align="center">
            <img src="https://raw.githubusercontent.com/HPCRL/ICS2025-webpage/main/img/downtown_pickup.png" 
                 alt="Downtown Excursion Map" 
                 style="max-width: 85%; height: auto;">
            <p style="font-size: 0.9em; color: gray; margin-top: 0.5em;">
              Coordinates: 
              <a href="https://maps.google.com/?q=40.76499838432058,-111.88751556662862" target="_blank">
                40.764998, -111.887516
              </a>
            </p>
          </div>
          <br><br>
          <h4>📄 Accepted Papers</h4>
          <ul>
            <li>Papers can be downloaded through <a href="https://drive.google.com/file/d/1zT7P4yv6FC_yQ5pQWnCV4HDzIf-jeLEh/view">link</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <section id="sponsors" style="visibility: visible;">
    <div class="container">
      <div class="section-header ">
        <h2>Sponsors</h2>
      </div>
      <div style="text-align: center;">
        <div class="diamond">
          <div class="col">
            <a href="https://www.acm.org/" target="_blank">
              <img src="img/sponsors/ACM_logo.png" style="width:300px;object-fit: contain" alt="">
            </a>
          </div>
        </div>
        <div class="diamond">
          <div class="col">
            <a href="https://www.sigarch.org/" target="_blank">
              <img src="img/sponsors/ACM_SIGARCH_logo.png" style="width:300px;object-fit: contain" alt="">
            </a>
          </div>
        </div>
        <div class="diamond">
          <div class="col">
            <a href="https://www.sighpc.org/" target="_blank">
              <img src="img/sponsors/ACM_SIGHPC_logo.png" style="width:300px;object-fit: contain" alt="">
            </a>
          </div>
        </div>
      </div>

      <!-- <h3 style="color:#D4AF37; text-align: center;">Gold Patrons</h3>
      <div style="text-align: center;" class="gold">
        <div class="col">
          
        </div>
      </div> -->

      <!-- <h3 style="color:#757575;">Silver Patrons</h3>

      <div class="sliver">

      </div>
      <br> -->

      <!-- <h3 style="color:#CD7F32; text-align: center;">Bronze Patrons</h3>
      <div class="gold">
        <div class="col">
          
        </div>
      </div>
      </h3> -->
  </section>
</header>
