---
layout: default
---


<!-- Page Header -->
{% if page.background %}
<header class="masthead" style="background-image: url('img/bg-index.jpg');height:700px;">
  {% else %}
  <header class="masthead">
    {% endif %}
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">

            <h2 style="color:#F0F8FF;font-size:3rem;">{{ site.title }}</h2>
            {% if site.description %}
            <span class="subheading">{{ site.date }}</span>
            <span class="subheading">{{ site.position }}</span>

            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </header>

  


  <!-- <div class="container" style="margin-bottom:40px">
    <div class="newsTitle" style="margin-top:80px">
      <h2>News</h2>
    </div>
    <div class="row" style="margin:0 20px 0 20px">
      <div class="news">
        <ul>
          <li><b>April 27, 2025</b> <a href="https://hpcrl.github.io/ICS2025-webpage/call-for/call-for-travel-grant.html">Travel Grant Applications</a> is now open.</li>
          <li><b>April 28, 2025</b> <a href="https://hpcrl.github.io/ICS2025-webpage/registration/registration.html">Registration site</a> is now open.</li>
        </ul>
      </div>
    </div>

  </div> -->


  <div class="container mb-5">
    <div class="newsTitle mt-5">
      <!-- <h2>Last Updates </h2> -->
    </div>
    <div class="row justify-content-center">
      <div class="col-lg-10 col-md-12">
        <div class="news">
          <h3 class="mb-4">Welcome to ICS 2025 at the University of Utah. Some useful information is provided below.</h3>

          <h4>🛜 Wireless Internet Access</h4>
          <ul>
            <li><strong>Eduroam</strong>: Available for members of participating institutions. Connect using institutional credentials.</li>
            <li><strong>UGuest</strong>: A public Wi-Fi option. No password required; open your browser and accept the terms of service using your phone number.</li>
          </ul>

          <h4>🚌 Venue Map and Transportation</h4>
          <ul>
            <li>All attendees can pick up a <strong>free 4-day UTA pass</strong> with their registration badge, valid from <strong>Sunday, June 8 to Wednesday, June 11</strong>.</li>
            <li>The UTA pass enables free travel on all UTA buses and TRAX (light rail) in Salt Lake City.</li>
            <li>TRAX is convenient for travel between the airport, downtown, and the University of Utah campus.</li>
          </ul>

          <h4>🗺️ Campus Map</h4>
            <li>Key Locations:
              <ul>
                <li><strong>WEB (Warnock Engineering Building)</strong>: ICS'25 Workshops (June 8)</li>
                <li><strong>Alumni House (AH)</strong>: Main ICS'25 Conference (June 9–11)</li>
                <li><strong>University Guest House</strong></li>
                <li><strong>Parking, TRAX, and bus info</strong>: <a href="https://commuterservices.utah.edu/visitor-short-term-parking/">https://commuterservices.utah.edu/visitor-short-term-parking/</a></li>
              </ul>
            </li>
          <ul>
            <div align="center">
              <img src="https://hpcrl.github.io/ICS2025-webpage/img/minmap.png" alt="Campus Map" style="max-width: 100%; height: auto;">
            </div>
            <li>Interactive map: <a href="https://www.map.utah.edu/">https://www.map.utah.edu/</a></li>
          </ul>
          <h4>🗺️ Downtown Pickup Location for Red Butte Excursion</h4>
          <div align="center">
            <img src="https://raw.githubusercontent.com/HPCRL/ICS2025-webpage/main/img/downtown_pickup.png" 
                 alt="Downtown Excursion Map" 
                 style="max-width: 100%; height: auto;">
          </div>

          <h4>📄 Accepted Papers</h4>
          <ul>
            <li>Papers can be downloaded through <a href="https://drive.google.com/file/d/1zT7P4yv6FC_yQ5pQWnCV4HDzIf-jeLEh/view">link</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <section id="sponsors" style="visibility: visible;">
    <div class="container">
      <div class="section-header ">
        <h2>Sponsors</h2>
      </div>
      <div style="text-align: center;">
        <div class="diamond">
          <div class="col">
            <a href="https://www.acm.org/" target="_blank">
              <img src="img/sponsors/ACM_logo.png" style="width:300px;object-fit: contain" alt="">
            </a>
          </div>
        </div>
        <div class="diamond">
          <div class="col">
            <a href="https://www.sigarch.org/" target="_blank">
              <img src="img/sponsors/ACM_SIGARCH_logo.png" style="width:300px;object-fit: contain" alt="">
            </a>
          </div>
        </div>
        <div class="diamond">
          <div class="col">
            <a href="https://www.sighpc.org/" target="_blank">
              <img src="img/sponsors/ACM_SIGHPC_logo.png" style="width:300px;object-fit: contain" alt="">
            </a>
          </div>
        </div>
      </div>

      <!-- <h3 style="color:#D4AF37; text-align: center;">Gold Patrons</h3>
      <div style="text-align: center;" class="gold">
        <div class="col">
          
        </div>
      </div> -->

      <!-- <h3 style="color:#757575;">Silver Patrons</h3>

      <div class="sliver">

      </div>
      <br> -->

      <!-- <h3 style="color:#CD7F32; text-align: center;">Bronze Patrons</h3>
      <div class="gold">
        <div class="col">
          
        </div>
      </div>
      </h3> -->
  </section>
</header>
